.section1-container {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.section1-wrapper {
    width: 90%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0;
}

.section1-img{
    width: 150px;
    height: auto;
    border: 1px solid #272727;
    border-radius: 50%;
}